<div class="col-md-8 col-md-offset-2">

  <ul class="breadcrumb pull-left">
    <li><a routerLink="utilisateurs">Users</a></li>
    <li class="active">Liste</li>
  </ul>

  <a href="#" class="btn pull-right btn-primary mb-5">Nouveau</a>
<table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Column heading</th>
        <th>Column heading</th>
        <th>Column heading</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
     
      <tr>
        <td>4</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
    </tbody>
  </table>
  </div>